.env
*.env
env.*
/.vscode
.DS_Store
node_modules
dist
coverage
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock
.pnpm-debug.log
.idea
.vscode-test
*.sublime-workspace
*.sublime-project
*.swp
*.swo
*.bak
*.tmp
*.log
*.pid
*.seed
*.pid.lock
*.tgz